<div class="register-wrapper">
  <div class="register-card">
    <h2>יצירת שיעור</h2>
    <p>בחר את התחום הרצוי והוסף הנחיות</p>

    <form [formGroup]="loginForm" (ngSubmit)="sendPrompt()">
      
      <div class="form-group">
        <label>קטגוריה:</label>
        <input 
          type="text" 
          list="categoriesList" 
          formControlName="categoryName" 
          (input)="onCategoryInput()" 
          placeholder="בחר או הקלד קטגוריה חדשה"
          class="form-control">
        <datalist id="categoriesList">
          <option *ngFor="let cat of categories" [value]="cat.name"></option>
        </datalist>
      </div>

      <div class="form-group" *ngIf="loginForm.get('categoryName')?.value">
        <label>תת קטגוריה:</label>
        <input 
          type="text" 
          list="subCategoriesList" 
          formControlName="subCategoryName" 
          placeholder="בחר או הקלד תת-קטגוריה"
          class="form-control">
        <datalist id="subCategoriesList">
          <option *ngFor="let sub of subCategories" [value]="sub.name"></option>
        </datalist>
      </div>

      <div class="form-group" *ngIf="loginForm.get('subCategoryName')?.value">
        <label>הוסף הנחיה מפורטת לשיעור</label>
        <textarea 
          formControlName="additionalText" 
          rows="4"
          placeholder="">
        </textarea>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="submit-btn">
        יצירת שיעור
      </button>
    </form>
  </div>
</div>